* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    width: 100vw;
    height: 60px;
}
header nav {
    display: flex;
    justify-content: flex-end;
}
header nav .nav-right-section {
    width: auto;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}
header nav .nav-right-section a {
    margin-right: 10px;
    color: #000000;
    text-decoration: none;
}