* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    width: 100vw;
    height: 60px;
}
header nav {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}
header nav .nav-right-section {
    width: 250px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}
header nav .nav-right-section a {
    margin-right: 10px;
    color: #000000;
    text-decoration: none;
}
nav .nav-right-section .menu-icon {
    background-image: url('https://image.flaticon.com/icons/png/128/17/17704.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: auto;  
    margin-right: 10px;
}

nav .nav-right-section img {
    border-radius: 50%;
}
main {
    margin-top: 150px;
    text-align: center;
}
main .main-logo {
    width: 350px;
    margin: 0 auto;
    margin-bottom: 35px;
}
main .main-logo img {
    width: 350px;
}